
a {
  cursor: pointer;
}

html,
body {
  background: #f0ead6;
  font-family: Palatino, serif;
  height: 100%;
  margin: 0;
  padding: 10;
  width: 100%;
}

button {
    background: #C5C1F2;
    border-radius: 12px;
    padding: 7px 14px;
    margin: 0 25px;
    border-color: black;
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.buttons_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
}

#mapzone {
    padding: 10px 100px;
}


app {
    display: flex;
    justify-content: space-around;
}

div.tooltip {
    position:absolute;
    z-index: 1;
    text-align: center;			
    width: 60px;					
    height: 60px;					
    padding: 20px;				
    font: 12px sans-serif;		
    background: white;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    justify-content: center;
    align-items: center;
    position: absolute;
}

svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
    padding-top: 0px;
    line-height: 20%;
}

h2 {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 15%;
    font-style: italic;
}

h3 {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 10%;
}



